<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Scrolling Nav - Start Bootstrap Template</title>
    <link rel="icon" type="image/x-icon" href="/FrontEnd/assets/favicon.ico" />
    <link href="/FrontEnd/css/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Header-->
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">Welcome to Management Platform</h1>
            <p class="lead">Make your activity much easier</p>
            <a class="btn btn-lg btn-light" href="#about">Find out more!</a>
        </div>
    </header>
    <!-- About section-->
    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>About this page</h2>
                    <p class="lead">
                        The biggest challenge for small businesses (or SMBs) is growth.
                        And by growth, we mean more exposure, more customers and employees and most importantly more revenue. And as well know, whilst striving for this growth, a lot has to happen. One of the biggest being that the workflows and organisational processes need to be streamlined within your business so that all processes run smoothly.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Services section-->
    <section class="bg-light" id="services">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Services we offer</h2>
                    <p class="lead">Unifies data and breaks down silos. Brings all your data together on one single platform, giving you and your team a more cohesive view of customers.</p>
                    <p class="lead">Helps identify new audiences and customers. Ever heard of audience extension or lookalike modeling techniques? These are great features offered in some DMPs that let you discover and target new customer groups.</p>
                    <p class="lead">Provides continuous results. These are not one-off reporting solutions, but rather platforms that enable long-term strategies by way of constant and continuous reporting.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact section-->
    <section id="contact">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Contact us</h2>
                    <p class="lead">Thanks for your support in Management Platform. For the last few years, we have developed more applications - almost 20+ - as part of 500apps application suite. Our commitment is to keep it free for our Management Platform customers. You can check us out at 500apps.com or write to us at managementplatform@mngplat.com asking to access the first level of apps.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/FrontEnd/js/scripts.js"></script>
</body>
</html>
